* {
   padding: 0px;
   margin: 0px;
}
hmtl {
   font-size: 16px;
}

p {
   font-family: 'Open Sans', sans-serif;
}
.app {
   display: flex;
   flex-direction: column;
}
.app__header {
   background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.conteiner {
   max-width: 1180px;;
   margin: 0 auto;
   width: 100%;
   padding: 0px 1.5em;
   display: flex;
	justify-content: space-between;
}
.header__paragraph {
   font-family: 'Nunito Sans', sans-serif;
   flex: 0 0 50%;
   padding-top: 10.5em;
   padding-bottom: 10.5em;
}
.header__title {
   color: #FAF9F9;
   font-weight: 800;
   font-size: 7.5rem;
   line-height: 8.75rem;
   text-transform: uppercase;
   margin-bottom: 2.5em;
}
.header__subtitle {
   font-weight: 700;
   font-size: 1.875rem;
   line-height: 2.375rem;
   text-transform: uppercase;
   color: #FBB731;
   display: block;
   margin-bottom: 0.625em;
}
.header__text {
   font-weight: 400;
   font-size: 1.1875rem;
   line-height: 140%;
   color: #DEDEDE;
   margin-bottom: 2.5em;
   padding: 0em 0.2em;
}
.link{
   font-family: 'Nunito Sans';
   font-weight: 700;
   font-size: 0.875rem;
   line-height: 1.125rem;
   text-transform: uppercase;
   color: #1E2F40;
   background: #FBB731;
   border-radius: 0.3rem;
   padding: 1.25em 2.8em;
   display: inline-block;
   text-decoration: none;
   box-shadow: 0px 0px #271d08;
   transition: box-shadow 0.5s, position 0.5s, top 1s, left 1s;
}
.link:hover {
   box-shadow: 0.31em 0.31em #5e4510;
}.link:active {
   position: relative;
   top: 0.31em;
   left: 0.31em;
   box-shadow: 0px 0px #5e4510;
}

.header__visual {
   flex: 0 0 50%;
   display: flex;
   justify-content: flex-end;
   position: relative;
}
.header__bg {
   width: 432px;
   height: 100%;
   background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.header__img {
   width: 829px;
   position: absolute;
   right: -169px;
}

@media (max-width: 1200px) {
   .conteiner {
      padding: 0px 0px;
   }
   .header__paragraph {
      padding-top: 7em;
      padding-bottom: 7em;
      width: 100%;
      text-align: center;
   }
   .header__title {
      margin-bottom: 1em;
   }
   .header__subtitle {
      margin-bottom: 0.6em;
   }
   .header__text {
      padding: 0em 0.2em;
      margin-bottom: 2.5em;
      text-align: center;
   }
   .header__visual {
      display: none;
   }
   .header__bg {
      width: 400px;
   }
   .header__img {
      width: 750px;
      position: absolute;
      right: -169px;
   }
}
@media (max-width: 768px) {
   .header__paragraph {
      padding-top: 4em;
      padding-bottom: 4em;
   }
   .header__title {
      margin-bottom: 0.7em;
   }
   .header__text {
      padding: 0em 0.5em;
      margin-bottom: 2.5em;
      text-align: center;
   }
}
@media (max-width: 540px) {
   html {
      font-size: 14px;
   }
   .header__title {
      font-size: 4.5rem;
      line-height: 5.75rem;
   }
   .header__text {
      letter-spacing: 0.1rem;
   }
}
@media (max-width: 412px) {
   html {
      font-size: 14px;
   }

}

.app__main {
   margin: 11.6em 0px;
   flex-grow: 1;
   flex-basis: 100%;
   flex-shrink: 0;
}
h3 {
   font-family: 'Nunito Sans';
   font-weight: 900;
   color: #ffffff;
}
.main__left,
.main__right {
   box-sizing: border-box;
   flex: 0 0 49%;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 7.5em 3.1em 7.5em 3.1em;
}
.main__left {
   background-image: url(../img/main_left.jpg);
}
.main__left-sale {
   background-color:  #F37335;
   border-radius: 14px;
   padding: 0.3em 1.1em;
   display: inline-block;
}
.main__left-Snumber{
   font-size: 3.75em;
   line-height: 4.75em;
   text-transform: uppercase;
   margin: 0.1875em 0px 0.5em 0px;
}
.main__text {
   color: #FAF9F9;
   font-weight: 400;
   font-size: 0.9rem;
   line-height: 1.5rem;
}
.main__left .main__text {
   max-width: 393px;
}
.main__right .main__text {
   max-width: 300px;
   margin: 0.6em 0px 1.25em 0px;
}
.main__right {
   background-image: url(../img/main__right.jpg);
}
.main__right-title {
   font-family: 'Nunito Sans';
   font-weight: 700;
   font-size: 2.75rem;
   line-height: 56px;
   color: #FFFFFF;
}

@media (max-width: 1200px) {
   .app__main {
      margin: 7em 0px;
   }
   .main__right {
      margin-top: 1.25em;
      width: 100%;
   }
   .main__left {
      width: 100%;
   }
}
@media (max-width: 768px) {
   .app__main {
      margin: 4em 0px;
   }
}

.app__footer {
   background-color: #1E2F40;
}
.footer__item {
   padding-top: 7.3em;
   padding-bottom: 6.625em;
   position: relative;
}
.footer__input {
   position: absolute;
   top: 0px;
   left: 0px;
   opacity: 0;
}
.footer__input:checked ~ .footer__label{
   text-decoration: underline;
   color: #fccece;
} 
.footer__input:checked ~ .footer__menu{
   display: block;
} 
.footer__title {
   font-family: 'Nunito Sans';
   font-weight: 800;
   font-size: 1.2rem;
   line-height: 2.375rem;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 0.75em;
}
.footer__menu {
   display: none;
   list-style-type: none;
   text-align: center;
}
.footer__items {
   margin-bottom: 0.56em;
   color: #DEDEDE;
}
.footer__link {
   color: #DEDEDE;
   text-decoration: none;
   cursor: pointer;
   transition: text-decoration 0.2s;
}
.footer__link:hover {
   text-decoration: underline;
}
.footer__inf {
   font-weight: 700;
   color: #FAF9F9;
   margin-top: 0.125em;
}
.footer__tel {
   font-family: 'Nunito Sans';
   font-weight: 800;
   font-size: 1.25rem;
   line-height: 2.375rem;
   text-transform: uppercase;
   color: #FBB731;
}

@media (max-width: 1200px) {
   .conteiner{
      flex-flow: column wrap;
      align-items: center;
      justify-content: flex-start;
   }
   .footer__item {
      padding-top: 1.8em;
      padding-bottom: 1.25em;
      position: relative;
   }
}
@media (max-width: 768px) {
   .footer__item {
      padding-top: 1em;
      padding-bottom: 1.1em;
      position: relative;
   }
}
